body {
    padding: 0;
    margin: 0;
    background: url(./images/background.jpg)no-repeat;
    background-size: cover;
    align-items: center;
}
.container {
    position: relative;
    display: inline-block;
    z-index: 1;
    background-color: azure;
    border: solid black;
    border-radius: 10px;
    align-content: center; 
    align-self: center;
    size: 1000px 1000px;
    margin: 250px 500px 100px;
    padding: 30px 30px;
    line-height: 25px;


}
.containerhome {
    position: relative;
    display: inline-block;
    z-index: 1;
    background-color: azure;
    border: solid black;
    border-radius: 10px;
    align-content: center; 
    align-self: center;
    margin-left: 400px;
    margin-top: 300px;
    padding: 30px 30px;
    line-height: 25px;


}

.button {
    font-family: Arial, sans-serif;
    text-align: center;
    color: rgb(5, 5, 5);
    width: 75px;
    height: auto;
    align-self: center;
    margin-top: 10px;
    margin-left: 85px;
    background-color: aliceblue;
}